In [32]:
import numpy as np
import pandas as pd 

import matplotlib.pyplot as plt

In [33]:
Train_Df = pd.read_csv("train.csv")

Train_Df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [34]:
Cols = list(Train_Df.columns)

In [35]:
print(set(Train_Df['Loan_Status']))

# Okay , there can be either Yes(Y) or No(N)

{'N', 'Y'}

In [36]:
Train_Df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
Loan_ID              614 non-null object
Gender               601 non-null object
Married              611 non-null object
Dependents           599 non-null object
Education            614 non-null object
Self_Employed        582 non-null object
ApplicantIncome      614 non-null int64
CoapplicantIncome    614 non-null float64
LoanAmount           592 non-null float64
Loan_Amount_Term     600 non-null float64
Credit_History       564 non-null float64
Property_Area        614 non-null object
Loan_Status          614 non-null object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.4+ KB

In [37]:
Train_Df.isna().any()

# There are NA Values in "Gender" "Married" "Dependents" "Self_Employed" "LoanAmount" "Loan_Amount_Term" "Credit_History"

Loan_ID              False
Gender                True
Married               True
Dependents            True
Education            False
Self_Employed         True
ApplicantIncome      False
CoapplicantIncome    False
LoanAmount            True
Loan_Amount_Term      True
Credit_History        True
Property_Area        False
Loan_Status          False
dtype: bool

In [38]:
# Solving Gender 

print(Train_Df['Gender'].describe())

# As there are more number of males , lets replace missing with males i.e.., the mode

Train_Df['Gender'].fillna(str(Train_Df['Gender'].mode()),inplace=True)

count      601
unique       2
top       Male
freq       489
Name: Gender, dtype: object

In [39]:
print(Train_Df['Married'].describe())

Train_Df['Married'].fillna(str(Train_Df['Married'].mode()),inplace=True)

count     611
unique      2
top       Yes
freq      398
Name: Married, dtype: object

In [40]:
print(Train_Df['Dependents'].describe())

Train_Df['Dependents'].fillna(str(Train_Df['Dependents'].mode()),inplace=True)

count     599
unique      4
top         0
freq      345
Name: Dependents, dtype: object

In [41]:
print(Train_Df['Self_Employed'].describe())

Train_Df['Self_Employed'].fillna(str(Train_Df['Self_Employed'].mode()),inplace=True)

count     582
unique      2
top        No
freq      500
Name: Self_Employed, dtype: object

In [42]:
print(Train_Df['LoanAmount'].describe()) # Float 64 value 

Train_Df['LoanAmount'].fillna(Train_Df['LoanAmount'].mean(),inplace=True)

count    592.000000
mean     146.412162
std       85.587325
min        9.000000
25%      100.000000
50%      128.000000
75%      168.000000
max      700.000000
Name: LoanAmount, dtype: float64

In [43]:
print(Train_Df['Loan_Amount_Term'].describe()) # Float 64 value 

Train_Df['Loan_Amount_Term'].fillna(Train_Df['Loan_Amount_Term'].mean(),inplace=True)

count    600.00000
mean     342.00000
std       65.12041
min       12.00000
25%      360.00000
50%      360.00000
75%      360.00000
max      480.00000
Name: Loan_Amount_Term, dtype: float64

In [44]:
print(Train_Df['Credit_History'].describe())

Train_Df['Credit_History'].fillna(Train_Df['Credit_History'].mean(),inplace=True)

count    564.000000
mean       0.842199
std        0.364878
min        0.000000
25%        1.000000
50%        1.000000
75%        1.000000
max        1.000000
Name: Credit_History, dtype: float64

In [45]:
Train_Df.isna().any()

Loan_ID              False
Gender               False
Married              False
Dependents           False
Education            False
Self_Employed        False
ApplicantIncome      False
CoapplicantIncome    False
LoanAmount           False
Loan_Amount_Term     False
Credit_History       False
Property_Area        False
Loan_Status          False
dtype: bool

In [46]:
Train_Df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,146.412162,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.000000,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.000000,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.000000,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.000000,360.0,1.0,Urban,Y

In [47]:
Train_Df = Train_Df.drop(['Loan_ID'] , axis = 1)

In [48]:
Train_Df.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,Male,No,0,Graduate,No,5849,0.0,146.412162,360.0,1.0,Urban,Y
1,Male,Yes,1,Graduate,No,4583,1508.0,128.000000,360.0,1.0,Rural,N
2,Male,Yes,0,Graduate,Yes,3000,0.0,66.000000,360.0,1.0,Urban,Y
3,Male,Yes,0,Not Graduate,No,2583,2358.0,120.000000,360.0,1.0,Urban,Y
4,Male,No,0,Graduate,No,6000,0.0,141.000000,360.0,1.0,Urban,Y

In [49]:
from sklearn.preprocessing import LabelEncoder

object_cols = ["Gender" , "Married" , "Dependents" , "Self_Employed" , "Education" , "Property_Area"]

for i in object_cols :
    Encoder = LabelEncoder()
    Train_Df[i] = Encoder.fit_transform(Train_Df[i])
    
Train_Df.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,2,1,0,0,1,5849,0.0,146.412162,360.0,1.0,2,Y
1,2,2,2,0,1,4583,1508.0,128.000000,360.0,1.0,0,N
2,2,2,0,0,2,3000,0.0,66.000000,360.0,1.0,2,Y
3,2,2,0,1,1,2583,2358.0,120.000000,360.0,1.0,2,Y
4,2,1,0,0,1,6000,0.0,141.000000,360.0,1.0,2,Y

In [50]:
Train_Df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 12 columns):
Gender               614 non-null int64
Married              614 non-null int64
Dependents           614 non-null int64
Education            614 non-null int64
Self_Employed        614 non-null int64
ApplicantIncome      614 non-null int64
CoapplicantIncome    614 non-null float64
LoanAmount           614 non-null float64
Loan_Amount_Term     614 non-null float64
Credit_History       614 non-null float64
Property_Area        614 non-null int64
Loan_Status          614 non-null object
dtypes: float64(4), int64(7), object(1)
memory usage: 57.6+ KB

In [51]:
X = Train_Df.iloc[:,:-1].values.astype(np.float32)
Y = Train_Df.iloc[: ,-1].values 

print(X.shape)
print(Y.shape)

(614, 11)
(614,)

In [52]:
from sklearn.model_selection import train_test_split 

Xtrain , Xtest , Ytrain , Ytest = train_test_split(X , Y , test_size = 0.25 , random_state = 2)

In [53]:
from sklearn.preprocessing import StandardScaler

Scale = StandardScaler()

Xtrain = Scale.fit_transform(Xtrain)
Xtest = Scale.transform(Xtest)

print(Xtrain.shape)
print(Xtest.shape)

(460, 11)
(154, 11)

In [55]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(n_estimators = 100)
model.fit(Xtrain,Ytrain)

Ypred = model.predict(Xtest)

print(" Testing Accuracy : " , np.mean(Ypred == Ytest))

 Testing Accuracy :  0.7597402597402597